body {
    background-color: #fafaf9;
    /*height: 100vh;*/

}

.myHeader {
    height: 20%;
    background-color: #ffffff;
}

.m {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

.m1 {
    background-color: #cecece;
    height: 100vh;
    width: 20%;
}

.m11 {
    height: 100vh;
    width: 80%;

}

.m2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.m33{
    width: 100%;
    height: 20%;
}
.m3 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.m4 {
    width: 100%;
    height: 80%;
}

.m5 {
    width: 40%;
    height: 100%;
}

.m6 {
    width: 40%;
    height: 100%;
}
    .box{
        margin: 10%;
    }

